{% extends 'LaRulaEcodalBundle:Layout:layout.html.twig' %}

{% block content %} 
<div class="container">
	<div class="jumbotron">
		<h1 class="text-center"><span class="yellow">ECO ESCOLAR</span></h1>
		<P>
			Si quieres tener tu licencia ECOESCOLAR es porque eres docente y perteneces a una  instituci칩n educativa.<br>
			Con ECOESCOLAR como herramienta de ense침anza podr치s convocar a tus estudiantes y tener una clase interactiva, divertida y con la posibilidad de orientar y medir el aprendizaje de los chicos durante su uso.<br>
			Para solicitar tu licencia ECOESCOLAR, cont치ctate con nosotros enviando un mensaje a: quieromilenciaecoescolar@ecodal.com.ar<br>
		</P>	
	</div>
</div> <!-- /container --> 
{% endblock %}