<form class="form-signin" id="form-login" method="post" action="http://juego.ecodal.com.ar" >
    <h2 class="form-signin-heading">¡Ingresa para jugar!</h2>                        
    <input id="login_email" type="text" name="email" class="input-large validate[required,custom[email]]" placeholder="Email" placeholder="E-mail" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ingrese su e-mail" >
    <br/>
    <input name="password" type="password" class="input-large validate[required]" placeholder="Contraseña" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ingrese su contraseña" >
    <br/>
    <button id="btn-login" class="btn btn-large btn-success" type="submit">Ingresar</button>                        
    <br/>
    <a href="" id="btn-register" class="">Registrarme</a>
</form>    
<script type="text/javascript">
	jQuery(document).ready(function($){
		//$('[data-toggle="tooltip"]').modal();
	});
</script>