{% extends 'LaRulaEcodalBundle:Layout:layout.html.twig' %}

{% block content %} 
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron" id="proyect-content">
		<h1 class="text-center"><span class="green"><span class="hide_when_is_small">Te contamos sobre </span>ECODAL</span></h1>
		<p>	
			<strong>ECODAL</strong> es la plataforma interactiva de educación ambiental para chicos desde los 5 años. 
		<br>
			Aquí podrán encontrar juegos temáticos y tips para el cuidado del medio ambiente.<br> 
			Podrán ver la actividad de otros usuarios en tiempo real e interactuar con ellos en juegos, chat y otros espacios de <strong>ECODAL</strong>. <br>
		</p>
		<p>
			El objetivo es enseñar a los niños buenos hábitos para el cuidado del medio ambiente desde espacios cotidianos como la casa, el colegio o la calle, para reforzar la posterior replica en la vida real.
		</p>
		<p>	
			Dentro de los múltiples aprendizajes ofrecidos por la plataforma, los más destacados en la actualidad son: Reciclaje, ahorro de energía, ahorro de agua y limpieza de su entorno.
		</p>
		<br>
		<iframe width="560" height="315" src="//www.youtube.com/embed/857ZQHkjgFI" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
{% endblock %}