{% extends 'LaRulaEcodalBundle:Layout:layout.html.twig' %}

{% block content %} 
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron text-center" style="margin:0 auto;">
		<h1 class="text-center"><span class="blue">Bienvenido a ECOTIPS</span></h1>
		<p>
			A continuación encontrarás toda la información que necesitas para poder jugar mucho mejor en ECODAL y para que en tu día a día puedas ayudar a cuidar el medio ambiente.<br> 
			También puedes compartirlos en Facebook o en Twitter.<br> 
		</p>
		<br>
		<div class="row">
		  <div class="col-md-4">
		  	<div class="alert alert-warning tip">
				<h3>Luz</h3> 
					Cuando salgas de una habitación y quede desocupada apaga las luces.<br> 
					Tener la luz encendida sin necesidad, genera desperdicio y contaminación.<br>
					<br>					
					<span class="glyphicon glyphicon-volume-up small-circle white" id="tip-luz"></span>
					<span class="glyphicon glyphicon-volume-off small-circle white" id="tip-luz-stop"></span>
			</div> 
		  </div>
		  <div class="col-md-4">
			<div class="alert alert-warning tip">
				<h3>Aire acondicionado</h3> 
					Si hace calor, abre las ventanas de la casa y deja circular el aire libremente.<br>
					Ahorrarás en consumo de energía mientras refrescas naturalmente el ambiente.<br>
					<br>
					<span class="glyphicon glyphicon-volume-up small-circle white" id="tip-aireacondicionado"></span> 
					<span class="glyphicon glyphicon-volume-off small-circle white" id="tip-aireacondicionado-stop"></span>
					
			</div> 		  	
		  </div>
		  <div class="col-md-4">
		  	<div class="alert alert-info tip">
				<h3>Cepillado de dientes</h3>
				Mientras lavas tus dientes, cierra la llave del agua. Ahorrarás hasta 20 litros de agua limpia.<br>
				<br>
				<span class="glyphicon glyphicon-volume-up small-circle white" id="tip-banio"></span>
				<span class="glyphicon glyphicon-volume-off small-circle white" id="tip-banio-stop"></span>
			</div>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-4">
			<div class="alert alert-info tip">
				<h3>Ducharse</h3>
				Cuando estés en la ducha no juegues con el agua.  Bañarse dejando correr el agua puede hacerte desperdiciar hasta 100 litros cada 5 minutos.<br>
				<br>
				<span class="glyphicon glyphicon-volume-up small-circle white" id="tip-ducha"></span>
				<span class="glyphicon glyphicon-volume-off small-circle white" id="tip-ducha-stop"></span>
			</div>
		  </div>
		  <div class="col-md-4">
			<div class="alert alert-success tip">
				<h3>Reciclaje</h3>
				Separa los desechos en botes de basura diferentes, por ejemplo, orgánico, plástico, papel y vidrio. 
				Así disminuyes la contaminación del planeta, evitando la acumulación de residuos en ríos, quebradas y otros espacios naturales.<br>
				<br>
				<span class="glyphicon glyphicon-volume-up small-circle white" id="tip-reciclaje"></span>
				<span class="glyphicon glyphicon-volume-off small-circle white"  id="tip-reciclaje-stop"></span>
			</div>		  	
		  </div>
		  <div class="col-md-4">
		  	<div class="alert alert-info tip">
				<h3>Lavar los platos</h3>
				Cuando laves los platos hazlo en 3 pasos:<br>
				1. Remoja los platos para dejarlos listos para enjabonar.<br>
				2. Enjabónalos completamente. Siempre mantén la llave cerrada.<br>
				3 Enjuaga rápidamente.<br>
				Si no se siguen estos 3 sencillos pasos puedes gastar hasta 100 litros de agua cada 10 minutos.<br>
				<br>
				<span class="glyphicon glyphicon-volume-up small-circle white" id="tip-lavarlosplatos"></span>
				<span class="glyphicon glyphicon-volume-off small-circle white" id="tip-lavarlosplatos-stop"></span>
			</div>
		  </div>

		<div class="row">
		  <div class="col-md-4">
			<div class="alert alert-info tip tip-without-song">
				<h3>Agua utilizada por día</h3>
				La Organización Mundial de la Salud dice que son necesarios entre 50 y 100 litros de agua por persona, en un día para cubrir las necesidades básicas.<br>
			</div>
		  </div>
		  <div class="col-md-4">
			<div class="alert alert-info tip tip-without-song">
				<h3>Los dentitas dicen...</h3>
				Los dentistas dicen que la duración del lavado de los dientes puede ser  de 1 minuto aproximadamente.<br>
			</div>		  	
		  </div>
		  <div class="col-md-4">
		  	<div class="alert alert-info tip tip-without-song">
				<h3>Ahorrar agua mientras lavo los platos</h3>
				Puedes lavar los platos de una familia de 4 personas en 5 minutos. Y si tienes la llave cerrada mientras lavas, ahorras un 40% del agua. En este caso 20 litros de agua.
			</div>
		</div>

		<div class="row">
		  <div class="col-md-4">
			<div class="alert alert-info tip tip-without-song">
				<h3>Duchas de 5 minutos</h3>
				La Puedes tomar duchas de 5 minutos y quedar impecable. Primera te mojas luego te enjabonas y finalmente retiras el jabón.
			</div>
		  </div>
		  <div class="col-md-4">
			<div class="alert alert-info tip tip-without-song">
				<h3>Lavar tus manos</h3>
					Puedes lavar tus manos en el mismo tiempo que cantas el cumpleaños feliz. Si lo haces con la llave cerrada, ahorras hasta litro y medio de agua.
			</div>		  	
		  </div>
		  <div class="col-md-4">
		  	<div class="alert alert-info tip tip-without-song">
				<h3>Lavar la ropa por la noche</h3>
				Lavar la ropa en horas de la noche ayuda a que el consumo de agua sea inferior.
			</div>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-4">
			<div class="alert alert-info tip tip-without-song">
				<h3>Llave de agua goteando</h3>
				Una llave de agua goteando desperdicia 320 litros de agua por semana. Si evitas este desperdicio, ahorras el equivalente a la cantidad de agua que necesita una persona para cubrir sus necesidades básicas durante seis días.
			</div>
		  </div>
		  <div class="col-md-4">
			<div class="alert alert-warning tip tip-without-song">
				<h3>Batería del celular</h3>
					Siempre que no estés cargando la batería de tu celular, desconecta el cargador. Si lo dejas conectado continuará su consumo desperdiciando energía.
			</div>		  	
		  </div>
		  <div class="col-md-4">
		  	<div class="alert alert-warning tip tip-without-song">
				<h3>Antes de prender el aire acondicionado</h3>
					Recuerda siempre antes de prender el aire acondicionado, revisar si abriendo las ventanas del lugar puedes generar ventilación natural.
			</div>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-4">
			<div class="alert alert-warning tip tip-without-song">
				<h3>Alimentos calientes</h3>
				No guardes alimentos calientes en la nevera. Así ayudarás a que su motor no gaste más energía de la necesaria para enfriarlo.
			</div>
		  </div>
		  <div class="col-md-4">
			<div class="alert alert-info tip tip-without-song">
				<h3>Si tu papá se afeita</h3>
					Mientras tu papá se afeita, dile que cierre la llave del agua. Ahorrará hasta 20 litros de agua.
			</div>		  	
		  </div>
		  <div class="col-md-4">
		  	<div class="alert alert-info tip tip-without-song">
				<h3>Según tus deshechos</h3>
					Cuando utilices el inodoro diferencia tu descarga según tus deshechos, así ahorras hasta 22 litros por descarga.
			</div>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-4">
			<div class="alert alert-warning tip tip-without-song">
				<h3>Evita prender el extractor</h3>
				tienes una ventana en el cuarto de baño, cuando te duches ábrela y evita prender el extractor. Ahorrarás energía eléctrica y tendrás aire puro para ventilar.
			</div>
		  </div>
		  <div class="col-md-4">
  	
		  </div>
		  <div class="col-md-4">

		  </div>
		</div>

	</div>
</div> <!-- /container --> 
<script type="text/javascript">

createjs.Sound.registerSound("/audio/tip-luz.mp3", "tip-luz");
createjs.Sound.registerSound("/audio/tip-aireacondicionado.mp3", "tip-aireacondicionado");
createjs.Sound.registerSound("/audio/tip-banio.mp3", "tip-banio");
createjs.Sound.registerSound("/audio/tip-ducha.mp3", "tip-ducha");
createjs.Sound.registerSound("/audio/tip-lavarlosplatos.mp3", "tip-lavarlosplatos");
createjs.Sound.registerSound("/audio/tip-reciclaje.mp3", "tip-reciclaje");
createjs.Sound.addEventListener("fileload", createjs.proxy(this.loadHandler, this));

var intance = null;

 function loadHandler(event) {
     // This is fired for each sound that is registered.
     instanceTipLuz = createjs.Sound.createInstance("tip-luz"); 
     instanceTipAireacondicionado = createjs.Sound.createInstance("tip-aireacondicionado"); 
     instanceTipBanio = createjs.Sound.createInstance("tip-banio"); 
     instanceTipDucha = createjs.Sound.createInstance("tip-ducha"); 
     instanceTipLavarlosplatos = createjs.Sound.createInstance("tip-lavarlosplatos"); 
     instanceTipReciclaje = createjs.Sound.createInstance("tip-reciclaje"); 
     //instance.addEventListener("complete", createjs.proxy(this.handleComplete, this));
     instanceTipLuz.volume = 0.5;
     instanceTipAireacondicionado.volume = 0.5;
     instanceTipBanio.volume = 0.5;
     instanceTipDucha.volume = 0.5;
     instanceTipLavarlosplatos.volume = 0.5;
     instanceTipReciclaje.volume = 0.5;

     $(document).ready(function(){
     		$('#tip-luz').on('click',function(){
     			instanceTipLuz.play();
     		});     		
     		$('#tip-aireacondicionado').on('click',function(){
     			instanceTipAireacondicionado.play();
     		});		
     		$('#tip-banio').on('click',function(){
     			instanceTipBanio.play();
     		});		
     		$('#tip-ducha').on('click',function(){
     			instanceTipDucha.play();
     		});		
     		$('#tip-lavarlosplatos').on('click',function(){
     			instanceTipLavarlosplatos.play();
     		});		
     		$('#tip-reciclaje').on('click',function(){
     			instanceTipReciclaje.play();
     		});

     		$('#tip-luz-stop').on('click',function(){
     			instanceTipLuz.stop();
     		});     		
     		$('#tip-aireacondicionado-stop').on('click',function(){
     			instanceTipAireacondicionado.stop();
     		});		
     		$('#tip-banio-stop').on('click',function(){
     			instanceTipBanio.stop();
     		});		
     		$('#tip-ducha-stop').on('click',function(){
     			instanceTipDucha.stop();
     		});		
     		$('#tip-lavarlosplatos-stop').on('click',function(){
     			instanceTipLavarlosplatos.stop();
     		});		
     		$('#tip-reciclaje-stop').on('click',function(){
     			instanceTipReciclaje.stop();
     		});
     });
 }

</script>
{% endblock %}